<div class="viewer-wrapper">
  <div class="viewer-title">
    <i class="fa fa-user" aria-hidden="true"></i>
    Registrar Asistente
  </div>

  <div class="viewer-body">
    <form class="form-container" [formGroup]="options">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="CI" aria-label="CI" [matAutocomplete]="auto" 
              [formControl]="stateCtrl" [(ngModel)]="filteredCI" (ngModelChange)="ciHasChanged()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredItems | async" [value]="item.ci" (click)="selectItem(item)">
            <div class="line ci">
              <span>CI: </span> {{ item.ci }}
            </div>
            <div class="line name">
              <span>Nombre: </span>{{ item.nombre }}
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre" 
              [(ngModel)]="selectedItem.nombre" [ngModelOptions]="{standalone: true}" name="nombre" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Celular"
              [(ngModel)]="selectedItem.celular" [ngModelOptions]="{standalone: true}" name="celular" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Correo"
              [(ngModel)]="selectedItem.city" [ngModelOptions]="{standalone: true}" name="city" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ciudad"
              [(ngModel)]="selectedItem.ciudad" [ngModelOptions]="{standalone: true}" name="ciudad" disabled>
      </mat-form-field>
      
      <div class="mat-input-wrapper mat-form-field-wrapper checkbox">
        <mat-checkbox formControlName="hideRequired"
                      [(ngModel)]="materialWasDelivered">
          Material entregado</mat-checkbox>
      </div>
    </form>

    <button mat-raised-button color="primary" (click)="registerItem()">REGISTRAR</button>

    <div class="progress-detail">
      <!-- <mat-spinner></mat-spinner> -->
    </div>
  </div>
</div>

<ul>
  <li></li>
</ul>
