.viewer-body.no-padding {
  .form-container {
    padding: 16px 39px;
  }
}

mat-form-field.full-width {
  width: ~"calc(100% - 20px)";
}

button.mat-primary {
  background-color: #0288d1;

  &.new-entry {
    margin: 16px 40px 40px;
  }
}
