.mat-toolbar.mat-primary {
  background: #343436;

  span {
    display: flex;
    cursor: pointer;

    i.fa {
      margin: 0 8px 0 16px;
    }
  }

  img.logo {
    height: 48px;
    margin: 0px 16px;
  }

  .title-label {
    line-height: 44px;
  }
}
