<div class="main-page">
  <mat-card class="option-card">
    <img class="card-image" src="assets/images/auth.png" alt="Asistencia">

    <mat-card-content>
      <div class="card-title">
        Registrar Asistencia
      </div>
      <div class="card-description">
        Registrar la asistencia del participante y entrega de material. 
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goTo('register')">REGISTRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="option-card">
    <img class="card-image" src="assets/images/notifications.png" alt="Asistencia">

    <mat-card-content>
      <div class="card-title">
        Inscribir Nuevo Asistente
      </div>
      <div class="card-description">
        Registrar nuevo asistente. <br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goTo('create')">REGISTRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="option-card">
    <img class="card-image" src="assets/images/appindexing.png" alt="Reportes">

    <mat-card-content>
      <div class="card-title">
        Buscar/Actualizar Inscrito
      </div>
      <div class="card-description">
        Búsqueda y modificacion de asistentes. <br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goTo('find')">MOSTRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="option-card">
    <img class="card-image" src="assets/images/analytics.png" alt="Reportes">

    <mat-card-content>
      <div class="card-title">
        Reporte
      </div>
      <div class="card-description">
        Reporte de asistencia. <br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goTo('reports')">MOSTRAR</button>
    </mat-card-actions>
  </mat-card>

  <!-- <mat-card class="option-card">
    <img class="card-image" src="assets/images/predictions.png" alt="Reportes">

    <mat-card-content>
      <div class="card-title">
        Sorteo
      </div>
      <div class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a arcu metus.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goTo('register')">MOSTRAR</button>
    </mat-card-actions>
  </mat-card> -->
</div>
