<div class="main-page">
  <mat-card class="option-card">
    <img class="card-image" src="https://www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/auth.png" alt="Asistencia">

    <mat-card-content>
      <div class="card-title">
        Registrar Asistente
      </div>
      <div class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a arcu metus. Phasellus eu sem luctus, 
          congue metus a, tristique leo. Duis non arcu mauris. Donec at velit augue. 
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToRegisterItem()">REGISTRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="option-card">
    <img class="card-image" src="https://www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/analytics.png" alt="Reportes">

    <mat-card-content>
      <div class="card-title">
        Reportes
      </div>
      <div class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a arcu metus. Phasellus eu sem luctus, 
          congue metus a, tristique leo. Duis non arcu mauris. Donec at velit augue. 
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToShowReport()">MOSTRAR</button>
    </mat-card-actions>
  </mat-card>
</div>
