.viewer-wrapper.report.chart {
  .viewer-body {
    height: 260px;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  box-shadow: none;
}

.viewer-body.report-detail {
  padding: 16px;
}
